h1 {
	color: hotpink;
	text-shadow: 2px 2px #000000;
}

ol {
	background: black;
	color: white;
	list-style-type: default;
}

ul {
	background: gold;
	color: maroon;
	list-style-type: circle;
}

p {
	color: maroon;
	background-color: gold;
	font-size: xxx-large;
	text-align: center;
	text-shadow: 2px 2px #FF0000;
}


