html {
    font-family: sans-serif, anothername, 'Times New Roman';
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-size: 14px;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    color: #333;
    background-color: rgb(60, 103, 56);
}

footer, nav {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya', serif;
}

h1 {
    line-height: 50px;
    font-weight: 900;
    font-size: 4.5em;
    text-transform: uppercase;
    text-align: center;
    color: rgb(197, 184, 103);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

/* h1::after {
    display: block;
    content: "";
    height: 2px;
    width: 150px;
    background: #E91C1C;
    margin: 5px auto 40px;
    box-shadow: 5px 2px 3px rgba(0, 0, 0, 0.5)
} */

h2 {
    line-height: 50px;
    color: #E91C1C;
}

h3 {
    line-height: 30px;
    padding-bottom: 20px;
}

h4 {
    padding-top: 25px;
    line-height: 40px;
    padding-bottom: 0px;
    font-size: 22px;
    font-weight: 900;
}

p {
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 15px;
}

.text-center {
    text-align: center;
}

.heading-padding {
    padding-bottom: 40px;
}

section {
    padding-top: 50px;
    margin-top: 50px;
}

.navbar {
    height: 105px;
    max-height: 340px;
    display: block;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.clearfix:after, .container:after, .navbar:after {
    clear: both;
    display: table;
    content: "";
}

#gallery {
    border: 5px double rgb(197, 184, 103);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 40px;
}

.wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    /* This ensures that the images cannot
    render outside of their container without
    forcing any scrollbars*/
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;
}

.menu-container {
    max-height: 300px;
    margin: 0% auto;
    content: "";
    /* top: 0;
    left: 0; */
    /* position: aboslute; */
    width: 100%;
    position: fixed;
    z-index: 100;
    /* background-color: rgba(255, 255, 255, 062.5%); */
}

.menu li {
    font-family: 'Alegreya', serif;
    font-size: large;
}

.menu a {
    color: rgb(60, 103, 56);
}

#home {
    background: url("../Images/Thumb/thumbnail_1.png") no-repeat 50% 50%;
    background-color: rgb(60, 103, 56);
    background-blend-mode: darken;
    background-attachment: fixed;
    -webkit-background-site: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 350px;
    padding-bottom: 500px;
    color: #fff;
}

.head-main {
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.9);
    font-variant: small-caps;
    color: rgb(197, 184, 103);
    word-spacing: 20px;
    font-size: 4.5em;
    text-align: left;
    font-family: 'Alegreya', serif;
    line-height: 2;
    font-weight: 900;
    border: 5px double rgb(197, 184, 103);
    border-radius: 20px;
    padding: 10px;
}

.head-sub-main {
    font-size: 23px;
    font-weight: 500;
    padding: 50px 20px 10px 20px;
    text-transform: uppercase;
}

.head-last {
    font-size: 10px;
    font-weight: 900;
    padding: 5px 20px 20px 20px;
    border: 1px dotted #fff;
    padding: 5px;
}

/* CONTACT STYLES */

.flex-container {
    display: -webkit-flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    margin: 0px auto;
    background-color: rgba(100, 65, 0, 0.3);
    box-shadow: rgba(0, 0, 0, 0.5)
}

#contact {
    margin-top: 0;
    background-color: rgba(100, 65, 0, .5);
}

.reservation {
    width: 60%;
    padding: 40px;
    border-radius: 8px;
    margin: 0px auto;
    box-shadow: -1px -1px 1px 0 rgba(0, 0, 0, 0.1), 1px 2px 10px 0 rgba(0, 0, 0, 0.5);
    background-image: url("../Images/Thumb/thumbnail_9.png");
    background-color: rgb(197, 184, 103);
    background-blend-mode: darken;
}

.reservation h2 {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: rgb(197, 184, 103);
    font-weight: 500;
    letter-spacing: 0pt;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.reservation h2 span {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: cornsilk;
    font-weight: x-large;
    font-size: 1.7em;
    font-variant: small-caps;
    letter-spacing: .4pt;
    word-spacing: .3pt;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.reservation p {
    color: cornsilk;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
}

.reservation form {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: red;
    padding: 12px 12px;
    width: 70%;
    border: 1px solid #808080;
    margin: 2% auto;
    border-radius: 7px;
    background: rgb(197, 184, 103);
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.3);
    font-family: 'Raleway', sans-serif;
}

.reservation input[type="text"] {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: white;
    padding: 2% 1% 2% 7%;
    width: 80%;
    border-top: 1px solid #090b0d;
    border-right: 2px solid #424549;
    border-bottom: 1px solid #090b0d;
    border-left: 1px solid #090b0d;
    margin: 10px 1em;
    border-radius: 7px;
    background: rgba(100, 65, 0, 0.8);
    box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, 0.15);
    font-family: 'Raleyway', sans-serif;
}

::placeholder {
    color: rgb(180, 180, 180);
}

.reservation input[type="text"]:hover {
    box-shadow: 0 0 18px rgba(100, 65, 0, 0.8);
}

.reservation input[type="submit"]:hover {
    box-shadow: inset 5px -5px 5px 5px rgba(100, 65, 0, 0.8);
    color: rgba(197, 184, 103);
    background-color: rgba(100, 65, 0, 0.8);
}

.form-spacer {
    padding: 30px 39px;
}

.terms {
    margin: 40px;
    margin-right: 80px;
    padding-left: 52px;
    font-size: 14px;
    line-height: 5px;
    color: rgba(100, 65, 0, 0.3);
    cursor: pointer;
    font-family: 'Raleyway', sans-serif;
    font-weight: 600;
    position: relative;
    display: inline;
    float: right;
}

.terms:hover {
    color: orange;
    text-decoration: underline;
}

.submit input[type="submit"] {
    color: rgb(225, 225, 225);
    cursor: pointer;
    border: 1px solid rgba(100, 65, 0, .5);
    font-weight: 900;
    outline: none;
    text-align: center;
    font-family: 'Raleyway', sans-serif;
    margin: 20px 3%;
    padding: 7px 0px;
    width: 25%;
    font-size: 18px;
    transition: border-color 0.3s color 0.3s background-color 0.3s;
    border-radius: 7px;
    background-color: rgb(197, 184, 103);
    box-shadow: 3px 3px 10px 0 rgba(100, 65, 0, 0.3);
}

#footer {
    background-color: rgba(100, 65, 0, 0.3);
    color: rgb(197, 184, 103);
    text-shadow: 2px 2px 8px 0 (0, 0, 0, 0.4);
    padding: 20px 50px 20px 50px;
    text-align: right;
    border: 5px double rgb(197, 184, 103);
}